data_sources/schemas/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://example.org/sample" xmlns="https://example.org/sample" elementFormDefault="qualified">
  <xs:element name="SampleEntity">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="identifier" type="xs:string" />
        <xs:element name="amount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
