data_sources/mismo/MISMO_3.6.2_Reference_Model.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mismo.org/residential/RES">
  <xs:element name="MISMOReferenceModel" type="ReferenceModelType" />
  <xs:complexType name="ReferenceModelType">
    <xs:sequence>
      <xs:element name="Loan" type="LoanType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Borrower" type="BorrowerType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LoanType">
    <xs:sequence>
      <xs:element name="LoanIdentifier" type="xs:string" />
      <xs:element name="LoanAmount" type="xs:decimal" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BorrowerType">
    <xs:sequence>
      <xs:element name="BorrowerName" type="xs:string" />
      <xs:element name="BorrowerSSN" type="xs:string" minOccurs="0" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>
