tests/fixtures/sample.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.org/fixture"
           xmlns:tns="http://example.org/fixture"
           elementFormDefault="qualified">

    <xs:element name="TestEntity" type="tns:TestEntityType"/>

    <xs:complexType name="TestEntityType">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="value" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
